import asyncio
from RabbitSpider import Engine
from RabbitSpider import Request
from RabbitSpider.rabbit_execute import go


class ${classname}(Engine):
    name = '_'.join(__file__.rsplit('\\')[-2:]).split('.')[0]
    custom_settings = {}

    async def start_requests(self):
        pass

    async def parse(self, request, response):
        pass


if __name__ == '__main__':
    asyncio.run(go(${classname}, 'auto', 1))
