import asyncio
from RabbitSpider import go
from RabbitSpider import Request
from RabbitSpider.spider import Spider


class ${classname}Spider(Spider):
    name = '_'.join(__file__.replace('\\', '/').rsplit('/')[-2:]).split('.')[0]
    custom_settings = {}

    async def start_requests(self):
        pass

    async def parse(self, request, response):
        pass


if __name__ == '__main__':
    asyncio.run(go(${classname}Spider, 'auto', 1))
