from RabbitSpider.pipelines import BasePipeline


class Pipeline(BasePipeline):
    async def open_spider(self, spider):
        """初始化数据库"""
        pass

    async def process_item(self, item, spider):
        """入库逻辑"""
        self.logger.info(item.to_dict())

    async def close_spider(self, spider):
        """关闭连接"""
        pass
