import asyncio
from RabbitSpider.rabbit_execute import go, batch_go
from ${project}.spiders.${spider} import ${classname}

# asyncio.run(go(${classname}, 'auto', 10))
asyncio.run(batch_go([${classname}], 'auto', 10))
