import asyncio
from RabbitSpider import go, batch_go
from ${project}.spiders.${dir}.${spider} import ${classname}Spider

# asyncio.run(go(${classname}Spider, 'auto', 10))
asyncio.run(batch_go([${classname}Spider], 10))
