from curl_cffi import CurlHttpVersion

BOT_DIR = r'${bot_dir}'

# Rabbitmq
RABBIT_HOST = '127.0.0.1'
RABBIT_PORT = 5672
RABBIT_USERNAME = 'yuntom'
RABBIT_PASSWORD = '123456'
RABBIT_VIRTUAL_HOST = '/'
CHANNEL_SIZE = 3

# 内存 去重
DUPEFILTER_CLASS = 'RabbitSpider.dupefilters.memoryfilter.MemoryFilter'

# 中间件
MIDDLEWARES = [
    'RabbitSpider.middlewares.allow_http_code.AllowHttpCodeMiddleware',
    'RabbitSpider.middlewares.retry.RetryMiddleware',
    'RabbitSpider.middlewares.download_delay.DownloadDelayMiddleware',
    '${project}.middlewares.Middleware',
]

# 管道
ITEM_PIPELINES = ['${project}.pipelines.Pipeline']

# http版本
HTTP_VERSION = CurlHttpVersion.V1_0
# tls指纹
IMPERSONATE = 'chrome120'

# 日志
# LOG_LEVEL = 'WARNING'
# LOG_FILE = './rabbit_log'

# 延时下载
# DOWNLOAD_DELAY = (1, 3)

# 最大重试次数
MAX_RETRY = 5
# 重试状态码
RETRY_HTTP_CODES = []
# 异常重试
RETRY_EXCEPTIONS = ['RequestsError']
# 允许通过状态码
ALLOW_HTTP_CODES = [200]
